* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 32px;
    color: #de1e60;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}



h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
    text-align: center;
}

/*der er yderligere h2 og h2 styling længre nede*/

p {
    font-size: 16px;
}

body {
    min-height: 500px;
    margin: 0;
    font-family: sans-serif;
    min-width: 300px;
    justify-content: center;
    display: flex;
}

.backgroundcolor {
    display: flex;
    position: fixed;
    height: 300px;
    width: 100%;
    background-color: #fc9f9d;
    z-index: 1;
}


header {
    width: 100%;
    position: fixed;
    z-index: 3;
    justify-content: center;
    display: flex;
}

.backgroundcolor1 {
    background-color: #fc9f9d;
    height: 100px;
    width: 100%;
    padding-top: 49px;
    overflow: hidden;
}

#menu_icons {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1140px;
    margin: auto;
    border-bottom: 1px solid #dddddd;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.minilogo {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-right: 1px solid #dddddd;
}

/*============ Burgermenu Start ==========*/

.menu_toggle,
.menu_toggle .icon_open,
.menu_toggle.icon_close_active .icon_close {
    display: block;
}

.menu_toggle .icon_close,
.menu_toggle.icon_close_active .icon_open {
    display: none;
}

.menu_toggle {
    padding: 10px;
    border-left: 1px solid #dddddd;
    cursor: pointer;
}

.icon_open {
    padding: 1px 2px;
}

.icon_close {
    height: 28px;
    width: 30px;
    padding: 2px 4px
}

.icon_open .menu_line {
    height: 4px;
    width: 26px;
    background-color: black;
    border-radius: 50px;
    margin: 4px 0px;
}

.icon_close .menu_line {
    height: 3px;
    width: 30px;
    background-color: black;
    border-radius: 50px;
    margin: 2px;
}

.icon_close #menu_line_1 {
    transform: rotate(45deg) translate(3px, 11px);
}

.icon_close #menu_line_2 {
    transform: rotate(-45deg) translate(-7px, 0px);
}

/*=============================*/
/*=========== Nav Start =======*/

#primary_menu {
    width: 90%;
    max-width: 1140px;
    position: absolute;
    top: calc(-100% - 50px);
    z-index: -1;
    transition: 0.5s;
    overflow: hidden;
}

#primary_menu.open {
    top: 100px;
}

#primary_menu ul {
    background-color: white;
    margin: 0 0 20px;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#primary_menu li {
    list-style: none;
}

#primary_menu a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*========== Burgermenu Slut ==============*/

/*=========== Nav Slut ========*/
/*=============================*/

/*===================================================*/
/*=========== Wrapper Start (det hvide papir) =======*/
/*===================================================*/



/*Der er left 50% på, så wrapperen hopper 50% til højre da det er 50% af bodyen. Bagefter er der translateX -50%, så den hopper 50% tilbage af wrapperens størrelse */

#wrapper {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto 50px;
    padding-top: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    top: 50px;
}

/*=====================================*/
/*=========== logo/splash Start =======*/

.logo {
    padding: 20px 40px 20px 5px;
    max-width: 700px;
    margin: auto;
}

.splash {
    display: flex;
    height: 301px;
    margin: auto;
    position: relative;
    background: rgba(22, 22, 22, 0.6);
    justify-content: center;
    align-items: center;
}

.splash .img {
    height: 100%;
    width: 100%;
    background-image: url(images/booking.jpg);
    background-size: cover;
}

.splash h1 {
    position: absolute;

}

/*=========== logo/splash Start =======*/
/*=====================================*/



/*=========================================*/
/*========== Section start ================*/

.frontpage,
.portfoliopage,
.webdesignpage,
.animationpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio,
#tema2,
#tema4,
#redesign,
#diamond {
    flex-direction: row-reverse;
}

.frontpage a {
    margin: 0 auto;
    padding: 5px;
    width: 130px;
    border: 2px solid magenta;
    text-decoration: none;

}


.txt {
    flex-grow: 1;
    min-height: 300px;
}

.txt_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 40px 30px;
}

.site_page {
    display: flex;
    justify-content: center;
}


.page_txt {
    padding: 50px;

}

.line {
    width: 150px;
    height: 3px;
    background-color: #015451;
    margin: 0 auto;
}


.botton_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;

}

.botton_wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    color: black;
    margin: 10px;
    width: 140px;
    border: 2px solid #de1e60;
    font-weight: bold;
    font-size: 12px;

}

.img {
    background-color: #a0a09b;
    background-size: cover;
    flex-grow: 1;
    min-height: 300px;
    width: 440px;
}

.portfolio_content,
.about_content {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}

.portfolio_content h2,
.about_content h2 {
    width: 170px;
    padding-bottom: 5px;
}

.botton_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.portfolio_img,
.frontpage_img {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 300px;
    width: 440px;
}

.portfolio_img img,
.frontpage_img img {
    width: 100%;
    margin-bottom: 15px;
}


.webpage {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 420px;
    width: 440px;
    background-image: url(images/computerskaerm.png);
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 740px;
    overflow: hidden;
}

.webpage img {
    position: absolute;
    z-index: -1;
    width: 340px;
    top: 85px;


}

.bouncing {
    animation-name: bouncing_kf;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 2s;

}

@keyframes bouncing_kf {

    100% {
        transform: translateY(calc(-100% + 210px));
    }
}

.site_gallery {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 300px;
    width: 440px;

}

.site_gallery img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.gallery {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.gallery_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px 40px;
}


.gallery_wrapper img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.about_content h3 {
    text-align: left;
}

.about_content .line {
    margin: 0;
}

.about_content p {
    padding-top: 10px;
}


#redesign .img {
    background-image: url(images/booking.jpg);
}



/*========== Section slut ================*/
/*=========================================*/




/*======================================*/
/*========== Footer start ==============*/

footer {
    padding-bottom: 10px;
}


/*========== Footer slut ================*/
/*=======================================*/



/*===================================================*/
/*=========== Wrapper Slut (det hvide papir) ========*/
/*===================================================*/



@media (min-width: 1000px) {

    .txt {
        width: 400px;
        max-width: 400px;
    }
}
